html {
  color-scheme: dark;
}

body {
  color: #eee;
  font-family: system-ui;
  line-height: 1.5;
}

.wrapper {
  text-align: center;
}

table {
  width: 100%;  
  border-collapse: collapse;
  background: #323232;
  font-size: .85rem;
}

.table-container {
  overflow-x: auto;
}

.input-container {
  margin: 0 auto;
}

.input-container > form {
  margin: 0 auto;
  max-width: 400px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
}

.table-footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
  margin-top: 2px;
  font-weight: bold;
  font-size: .85rem;
}

.footer-content-item > p {
  margin: 1.5px;
}

input {
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  background-color: #323232;
  font-size: .75rem;
}

input:focus{
  background-color: #323232;
}

th, td, caption {
  padding: 1rem;
}

caption {
  background: hsl(0 0% 0%);
  font-size: .65rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

button {
  background: #D21312;
  border: none;
  width: 25%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: .75rem;
}

.remove-button > button{
  width: 175px;
  height: 30px;
}

th {
  background-color: hsl(0 0% 0% / 0.5);
}

tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.1);;
}

#stockName {
  min-width: 150px;
}

@media (max-width: 650px) {
  th {
    display: none;
  }

  
  td {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 20ch auto;
    padding: 0.5rem 1rem;
  }
  
  td:first-child {
    padding-top: 2rem;
  }
  
  td:last-child {
    padding-bottom: 2rem;
    content: none;
  }
  
  td::before {
    content: attr(data-cell);
    font-weight: 700;
    justify-self: start;
    text-align: left;
  }
  
  .item-wrapper {
    min-width: 175px;
    min-height: 30px;
  }

  #stockName {
  max-width: 175px;
}

  .table-footer-content {
    flex-direction: column;
  }

  .footer-content-item {
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
  }
} 

@media (max-width: 450px) {
  caption {
    font-size: .50rem;
  }
  
  td {
    grid-template-columns: 15ch auto;
  }
}