html {color-scheme: dark}

body {
  color: #eee;
  font-size: .90rem;
  font-family: system-ui;
  line-height: 1.5;
}

.wrapper {
  text-align: center;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

table {
  width: 100%;  
  border-collapse: collapse;
  background: #323232;
}

input {
  text-align: center;
  font-size: .90rem;
  text-transform: uppercase;
}

th, td, caption {
  padding: 1rem;
}

caption, th {
  text-align: left;
}

caption {
  background: hsl(0 0% 0%);
  font-size: .65rem;
  font-weight: 700;
  text-transform: uppercase;
}

.buttons {
  width: 20%;
  display: flex;
  gap: 1.5rem;
}

button {
  background: #D21312;
  font-weight: bold;
  margin-top: 5px;
  border: none;
  width: 50%;
  font-size: .75rem;
}

button:hover{
  box-shadow: 0 5px 15px #D21312;
}

th {
  background-color: hsl(0 0% 0% / 0.5);
  text-align: center;
}

@media (max-width: 1000px) {
  th {
    display: none;
  }

  input {
    min-width: 215px;
    min-height: 20px;
  }

  .item-wrapper {
    min-width: 220px;
    min-height: 30px;
  }

  #stockName {
    max-width: 220px;
  }

  td {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 20ch auto;
    padding: 0.5rem 1rem;
  }

  td:first-child {
    padding-top: 2rem;
  }

  td:last-child {
    padding-bottom: 2rem;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    justify-self: start;
  }

  .table-footer {
    flex-direction: column;
  }

  .buttons {
   width: 100%;
  }

  button {
    height: 35px;
    width: 50%;
    margin-top: 5px;
  }
} 